.my-account{
    margin-left: 50px;
    margin-top: 50px;  
}
.name-box{
    margin: auto;
    margin-left: 40px;
}
.avatar-box{
    margin-bottom: 50px;
}
.account-tab{
    margin-right: 10px;
    font-size: 1.2rem;
    cursor: pointer;

}
.my-account-dropdown{
    visibility: hidden;
    position: absolute;
    width: 200px;
    top: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
.my-account-dropdown-item:hover{
    color: #198754;
}
.active-display{
    visibility: visible;
}