.ForgotP{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
    position: absolute;
}

.Title-name{
    background-color: #bdd4e7;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #333;
    height: 150px;
}

h2{
    font-size: 2.5rem;
    font-weight: 500;
    color: #333;
    ;
}

h3{
    font-size: 1.3rem;
    color: #333;
}

.fa-lock{ 
    font-weight: 700;
    font-size: 23px;
} 


.form-box2{
    background: white;
    width: 400px;
    height: 430px;
    margin: 6% auto;
} 

.input-group2{
    left: 40px;
    margin: 0;
    position: relative;
    top: 40px;
}

.input-box2 {
    width: 80%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn2{
    width: 320px;
    padding: 12px 10px;
    margin-top: 15px;
    cursor: pointer;
    display: block;
    background-image: linear-gradient(315deg, #bfe299 0%, #66b5f6 74%);
    border: 0;
    outline: none; 
}

.line1{
    width: 50%;
    margin-left: 25% !important; 
    margin-bottom: 10px;
    margin-top: 15px;
}

hr{
    width: 50%;
    margin-left:14% !important; 
}

.accounts2 ul{
    width: 50px;
    display: inline;
    text-align: center;
    margin-left: 78px;
}

a{
    text-decoration: none;
}

