.card-top-location{
    background: #efeff5;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    width: 50%;
    margin-top: 2.2rem;
    margin-left: 380px;
    text-align: center;
}

.location-hr{
    width: 50%;
    margin-left: 25% !important; 
}

.location-h3{
    text-align: left;
    font-weight: 620;
    padding-top: 1.875rem;
    text-align: center;
}

.location-file-select{
    font-weight: 0;
    font-size: 1.1rem;
    padding-left: 2rem;
}

.location-parse .location-parse-btn{
    width: 300px;
    padding: 12px 10px;
    margin: 30px;
    cursor: pointer;
    background: #7380ec;    
    border: 0;
    outline: none; 
    font-size: 16px;
    color: whitesmoke;
    border: none;
    border-radius: 5%;
    margin-left: 40px;
    text-align: center;
    justify-items: center;
}

.location-parse .location-parse-btn:hover{
    font-size:  17px;
    background: #12df9a;
    transition: all 250ms ease;
}

.location-back .location-back-btn{
    color: 'rgba(26, 0, 0, 1)';
    background: #bdd4e7;
    width: 300px;
    padding: 12px 10px;
    margin: 30px;
    cursor: pointer;
    border: 0;
    outline: none; 
    font-size: 16px;
    color: whitesmoke;
    border: none;
    border-radius: 5%;
    margin-left: 40px;
}

.location-back .location-back-btn:hover{
    background: var(--color-danger);
    font-size:  17px;
    transition: all 250ms ease;
}

.location-back-hr{
    width: 36%;
    margin-left: 32% !important; 
    margin-top: 5%;
}

.location-import .location-import-btn{
    width: 300px;
    padding: 12px 10px;
    margin: 30px;
    cursor: pointer;
    background: #7380ec;    
    border: 0;
    outline: none; 
    font-size: 16px;
    color: whitesmoke;
    border: none;
    border-radius: 5%;
    margin-left: 40px;
}

.location-import .location-import-btn:hover{
    font-size:  17px;
    background: #12df9a;
    transition: all 250ms ease;
}

