@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/*-----ROOT COLOURS VARIABLES-----*/
:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb5;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132,139,200,0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius1: 0.4rem;
    --border-radius2: 0.8rem;
    --border-radius3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1 : 1.2rem;

    --box-shadow: 0 2rem 3rem var(var(--color-light));
}

.card-top{
    background: #efeff5;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    width: 96%;
    margin-top: 40px;
    margin-left: 20px;
    text-align: center;
}

.h2 .mt-5{
    padding-top: 15px;
}

.location-page{
    display: flex;
}

.delete1 .delete-btn1 {
    width: 75px;
    height: 50px;
    outline: none;
    background-color: #bdcad9;
    background-image: linear-gradient(315deg, #bdcad9 29%, #e1dada 65%);    
    border: none;
    border-radius: 10%;
}

.delete1 .delete-btn1:hover{
    background: #EC7063;
    font-size:  17px;
}

.delete1{
    margin: 0 -35px;
}
.update-student-btn{
    margin-right: 50px;
    width: 75px;
    height: 50px;
    outline: none;
    background-color: #bdcad9;
    background-image: linear-gradient(315deg, #bdcad9 29%, #e1dada 65%);    
    border: none;
    border-radius: 10%;
}

tbody, th{
    text-align :left;
}

.import-csv .import-btn {
    font-size: 20px;
    width: 170px;
    height: 50px;
    color: whitesmoke;
    background: #bdd4e7;
    margin-bottom: 30px;
    text-align: center;
    justify-items: center;
    margin-left: 1290px;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.import-csv .import-btn:hover{
    background: #96bfe0;
    font-size:  21px;
    transition: all 250ms ease;
}

